*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin-top: 1rem;
}

.container{
    width: 500px;
    height: 500px;
    background-color: palevioletred;
}

form{
    margin-top: 4rem;
    margin-left: 5rem;
}

input{
    margin-left: 3rem;
}

input, textarea{
    padding: 5px;
} 
